div{
    width: 30%;
    height: 80%;
    margin-left: 37%;
    background-color: rgba(1, 20, 27, 0.5);
    border-radius: 10px;
    padding: 12px;
    color: blanchedalmond;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../image/d1.jpg');
    background-position: center;
    background-size: cover;
}

input[type=text], textarea{
    padding: 12px 16px; 
    width: 80%;  
    margin-top: 5%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(236, 236, 236);
    color: rgb(255, 255, 255);


}

select{
    padding: 12px 16px; 
    width: 80%;  
    margin-top: 5%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(14, 14, 14);

}

select::after {
    background : teal;
}
.dropdown {
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
input[type=email]{
    padding: 12px 16px; 
    width: 80%;  
    margin-top: 5%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(236, 236, 236);
    color: white;


}

input[type=submit]{
    padding: 12px;
    border-radius: 10px;
    margin-top: 10%;
    width: 50%;
    margin-left: 12%;
    background-color: rgb(2, 35, 51);
    cursor: pointer;
    color: burlywood;
}
input[type=submit]:hover{
    background-color: brown
}
table{
    margin-left: 22%;
    margin-top: 15%;
    width: 70%;
    color: blanchedalmond;
    border: white;
}
h1{
    margin-top: 5%;
}