<html>
    <head>
        {%load static%}
        <link rel="stylesheet" href="{% static 'css/head.css' %}">
        <div class="nav">
            {% include "petseller-header.html" %}
        </div>
    </head>
    <body>
        <div class="d">
            <form method="post" enctype="multipart/form-data" action="/addquery1/">
                {% csrf_token%}
                <h2 align="center"><b><i>Query</i></b></h1>
                <table>
                    <tr>
                        <td>user Id</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="userid" value="{{uid}}"></td>
                    </tr>
                    <tr>
                        <td>Query</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="query" placeholder="Enter Query...."></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Add"></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>