<!DOCTYPE html>
<html>
<head>
     {%load static%}
     <link href="{%static 'css/admin.css'%}" rel="stylesheet">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>
<body>

<div class="navbar">

  <h1>PetCenter</h1>
  <a href="/login" class="bi bi-power">Logout </a>
  

  <div class="dropdown">
      <button class="dropbtn">Notification
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
         
        <a href="/addnotification">Add</a>
        
        <a href="/removenotification">Remove</a>
        
      </div>
    </div> 

    <div class="dropdown">
      <button class="dropbtn">Doctor Management
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
         
        <a href="/adddoctor">Add</a>
        
        <a href="/removedoctor">Remove</a>
        
      </div>
    </div> 
    

    <div class="dropdown">
      <button class="dropbtn">Pet Rear Management
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
         
        <a href="/feed">Feed</a>
        
        <a href="/vaccin">Vaccination</a>
        
      </div>
    </div> 

    <div class="dropdown">
      <button class="dropbtn">Category Management
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/addcategory">Add</a>
        <a href="/removecategory">Remove</a>
      
      </div>
    </div>

    <a href="/home" class="bi bi-house-fill">Home</a>
 
</div>






</body>
</html>
