<html>
    <head>
        {%load static%}
        <link rel="stylesheet" href="{% static 'css/feed.css' %}">
        <div class="nav">
            {% include "admin-header.html" %}
        </div>   
    </head>
    <body>
        <div class="d">
            <form method="post" enctype="multipart/form-data" action="/feed1/">
                {% csrf_token%}
                <h2 align="center"><b><i>Feed</i></b></h1>
                <table>
                    <tr>
                        <td>Category Id</td>
                    </tr>
                    <tr>
                        <td><select name="ctgryid"><option>please choose your category</option>
                        {% for ct in data %}
                        <option value="{{ct.category_id}}">{{ct.category_name}}</option>
                        {%endfor%} 
                        </select></td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="feed"></td>
                    </tr>
                    <tr>
                        <td>Discription</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="discription"></td>
                    </tr>
                   
                    <tr>
                        <td colspan="2"><input type="submit" value="Submit"></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>