<html>
    <head>
        {%load static%}
        <link rel="stylesheet" href="{% static 'css/allheader.css' %}">
        <div class="nav">
            {% include "buyer-header.html" %}
        </div>
    </head>
    <body>
        <div class="d">
            <form method="post"  action="/givereview2/">
                {% csrf_token%}
                <h2 align="center"><b><i>Give Review</i></b></h1>
                <table>
                    <tr>
                        <td>Pet Id</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="petid" value="{{itm}}"></td>
                    </tr>
                    <tr>
                        <td>User Id</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="userid" value="{{uid}}"></td>
                    </tr>
                    <tr>
                        <td>Review</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="review" placeholder="Enter Review...."></td>
                    </tr>
                    
                        <td colspan="2"><input type="submit" value="Add"></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>