<html>
    <head>
        {%load static%}
        <link href="{%static 'css/seller.css'%}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
    <body>
        <div class="nav">
            <h1>PetCenter</h1>
            <a href="/login" class="bi bi-person-fill" >Login</a>
            <a href="/viewreview">Review</a>
            <a href="/registration">Registration</a>
            <a href="/searchpet2" class="bi bi-search">Search</a>
        </div>
    </body>
    </html>

        