<html>
    <head>
        {%load static%}
        <link href="{%static 'css/remove.css' %}" rel="stylesheet">
        <div class="nav">
            {% include "public-header.html" %}
        </div>
    </head>
    <body>
            <form>
                {% csrf_token %}
            
                <table border="0">
                    <tr>
                        <th>Complaint Id</th>
                        <th>Pet Id</th>
                        <th>User Id</th>
                        <th>Complaint</th>
                        <th>Complaint Date</th>
                    </tr>

                {% for v in items%}
                <tr>
                    <td>{{ v.complaint_id }}</td>
                    <td>{{ v.pet_id }}</td>
                    <td>{{ v.user_id  }}</td>
                    <td>{{ v.complaint }}</td>
                    <td>{{ v.complaint_date  }}</td>

                </tr>
                {% endfor %}
                </table>
            </form>
        </div>
    </body>
</html>